<table width='96%' cellspacing='0' cellpadding='2' border='0'>
    <tr>
        <td>Dear Admin polkacover,<br /><br /></td>
    </tr>
    <tr>
        <td>
            <table width='100%' border='0' align='left'>
                <tr>
                    <td colspan='3' align='left'>You have received an Contact Us request. Details of which are as follows:
                    </td>
                </tr>
                <tr>
                    <td width='24%' align='left'><strong>Name</strong></td>
                    <td width='6%' align='center'>:</td>
                    <td width='70%' align='left'><%= name %></td>
                </tr>
                <tr>
                    <td width='24%' align='left'><strong>Email ID</strong></td>
                    <td width='6%' align='center'>:</td>
                    <td width='70%' align='left'><%= email %></td>
                </tr>
                <tr>
                    <td width='24%' align='left'><strong>Type Of User</strong></td>
                    <td width='6%' align='center'>:</td>
                    <td width='70%' align='left'><%= user_type %></td>
                </tr>
                <tr>
                    <td width='24%' align='left'><strong>Message</strong></td>
                    <td width='6%' align='center'>:</td>
                    <td width='70%' align='left'><%= message %></td>
                </tr>
            </table>
        </td>
    <tr>
        <td>
            Thanks<br>Team<br>polkacover
        </td>
    </tr>
</table>