<p>Hello <%= email %>,</p>
<h2 align="center">Verification code</h2>
<h1 align="center"><%= otp %></h1>
<p align="center">Here is your OTP verification code</p>
<p align="center">It is expire in 6 min</p>

