<table width='100%' border='0' align='left'>
    <tr>
        <td ><strong>Message</strong></td>
        <td>:</td>
        <td ><%= message %></td>
    </tr>
    <tr>
        <td ><strong>Environment</strong></td>
        <td>:</td>
        <td ><%= config.env %></td>
    </tr>
    <tr>
        <td ><strong>Data</strong></td>
    </tr>
    <tr>
        <td ><%= data %></td>
    </tr>
</table>